@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('C:\Users\jaideep\Desktop\PROJECT\Burger Junction\css');
@viewport{
	zoom:100%;
	max-zoom:100%;
	min-zoom:90%;
}
body {
	padding:0px;
	height:100%;
	width:100%;
	background-image:url("wall.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:;
	background-size:105% 650px;	
	background-color:black;
	font-family: 'Quicksand', sans-serif;
	margin:0px;
	/*width:1250px;*/
}
header{
	margin:0px;
	padding:0px;
	position:relative;
	display:flex;
	justify-content:center;
	top:70px;
	left:0px;
	width:100%;
}
#aaaa {
	position:fixed;
	top:15px;
	text-align:center;
	justify-content:center;
	align-items:center;
	background-color:red;
	color:yellow;
	transition:1s;
	font-size:40px;
	width:100%;
	z-index:4;
	padding:10px 0px 10px 50px;
	animation:animatecolor 5s linear infinite;
	text-shadow:	0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black,
					0 0 10px black;
					
	box-shadow:	0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow;
}
@keyframes animatecolor{
	0%
	{
		background-color:red;
		color:yellow;
		box-shadow:	0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red;
	}
	50%
	{
		background-color:yellow;
		color:red;
		box-shadow:	0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 10px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 20px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 30px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow,
					0 0 40px yellow;}
	100%
	{
		background-color:red;
		color:yellow;
		box-shadow:	0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 20px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 30px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red,
					0 0 40px red;
	}
}
a{
	text-decoration:none;
	color:white;
	text-shadow:	0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,	0 0 2px white,0 0 2px white,0 0 2px white;
}

#aaab{
	color:white;
	cursor:pointer;
	background-color:red;
	transition:1s;
	display:inline-block;
	padding:25px;	
	margin:0px 0px 0px 20px;
	font-weight:900;
	font-size:25px;
	border:5px solid white;
	border-radius:50%;
	box-shadow:0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white;
}

#aaab:hover{
	text-shadow:2px 2px 2px white;
	background:black;
}

.aaab{
	color:white;
	cursor:pointer;
	background-color:red;
	transition:1s;
	display:inline-block;
	padding:25px;	
	margin:0px 0px 0px 0px;
	font-weight:900;
	font-size:25px;
	border:5px solid white;
	border-radius:50%;
		box-shadow:0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white,
				0 0 3px white;
}

.aaab:hover{
	text-shadow:2px 2px 2px red;
	background:black;
}
#aaab:hover{
	text-shadow:2px 2px red;
	background-color:black;
}

#top{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:red;
	position:fixed;
	bottom:5px;
	right:5px;
	height:6%;
	width:3%;
	padding:10px;
	font-size:25px;
	border:4px solid red;
	border-radius:50%;
	font-weight:900;
	text-decoration:bold;
	background-color:white;
	z-index:3;
	text-shadow:	0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red,
					0 0 2px red;
	box-shadow:	0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red,
					0 0 10px red;					
}
#top:hover{
	transition:1s;
	color:white;
		box-shadow:	0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white;
					background:red;
					border:4px solid white;
}
.bbbb{
	font-size:75px;
	color:red;
	line-height:150px;
	text-shadow:2px 2px yellow;
	transition:1s;
	padding-left:50px;
}

#bbba:hover{
	color:yellow;
	text-shadow:2px 2px 2px red;
	transition:1s;
	cursor:pointer;
}

h2{
	color:red;
	text-shadow:2px 2px yellow;
	transition:1s;
	text-align:left;
	padding-left:50px;
}

h2:hover{
	color:yellow;
	text-shadow:2px 2px red;
}

#cccc{
	position:relative;
	display:block;
	width:100%;
	margin-top:120px;
	text-align:center;
	color:black;
	font-size:75px;
	padding:50px;
	background-color:#6b2e10;
	transition:1s;
	text-shadow:2px 2px white;
	box-shadow:	0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 10px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10,0 0 20px #6b2e10;
	animation:centering 5s infinite;	
}
@keyframes centering{
	0%{
		filter:hue-rotate(0deg);
	}
	50%{
		filter:hue-rotate(360deg);
	}
	100%{
		filter:hue-rotate(0deg);
	}
}

#cccc:hover{
	color:red;
	background-color:white;
	box-shadow:	0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white;
}
p{
	margin-top:60px;
	margin-bottom:0px;
	height:280px;
	width:100%;
	overflow:hidden;
}
.dddd{
	top:0%;
	left:0%;
	line-height:40px;
	position:relative;
	padding:1px;
	padding-left:70px;
	color:#ff005b;
	text-shadow:0 0 3px white;
	font-weight:900;
	font-size:25px;
	height:400px;

	width:100%;
}
.dddd:before{
	content:'';
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background:#ff005b;
	opacity:.3;
	filter:blur(80px);
	z-index:-1;
}
.dddd:after{
	content:'';
	margin:0px;
	padding:0px;

}
.eeee{
	border:4px solid yellow;
	border-radius:8px;
	color:yellow;
	font-size:50px;
	text-decoration:none;
	padding:2px;
	box-shadow:	0 0 10px red,
					0 0 20px red,
					0 0 40px red,
					0 0 50px red,
					0 0 60px red;
}

.ffff{
	border:5px solid red;
	border-radius:20%;
}
.ffff:hover{
	border-color:yellow;
	transition:1s;
}

.gggg{
	border:5px solid red;
	border-radius:20px;
	float:left;
}

.jjjj{
	position:absolute;
	top:0%;
	left:0%;
	height:500px;
	width:400px;
	background-position:cover;
	align-items:center;
	justify-content:center;
	text-align:center;
	z-index:1;
	border:10px solid red;
	border-radius:10%;
	box-shadow:0 0 3px red,	0 0 3px red,0 0 3px red,0 0 3px red,0 0 3px red,0 0 3px red,0 0 26px white,0 0 26px white,0 0 26px white,0 0 26px white,0 0 26px white,0 0 26px white,0 0 35px red,0 0 35px red,0 0 35px red,0 0 35px red,0 0 35px red,0 0 35px red;
	transition:1s;
	transition-delay:10s;
	transform-style:preserve-3d;
	transform:perspective(1000px);
	transform-origin:left;
}
.jjjj:hover
{
	transform:rotatey(180deg) translateZ(200px);
	transition:1s;
}
#kkkk{
	text-align:center;
	font-size:70px;
	margin-top:0px;
	background-color:#6b2e10;
	color:black;
	padding:50px;
	height:100px;
	width:100%;
	transition:1s;
	text-shadow:2px 2px white;
	box-shadow:	0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10;
	animation:centering 5s linear infinite;
										
}
#kkkk:hover{
	color:red;
	background-color:white;
			box-shadow:	0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white;
}
#imgbox{
	position:relative;
	display:flex;
	top:0px;
	left:0px;
	justify-content:center;
}
.imgbox{
	position:relative;
	top:0%;
	height:800px;
	width:800px;
}
.imgbox1{
	position:absolute;
	top:25%;
	left:0%;
	height:450px;
	width:800px;
	overflow:hidden;
}
#imgsize{
	
	position:relative;
	top:0%;
	left:0%;
	height:1600px;
	width:100%;
	margin:0px;
	margin-top:190px;	
	
}
.llll img:nth-child(1){

	background:red;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:440%;
	border-radius:20%;
	box-shadow:0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red;
	animation:gallery5 15s linear infinite;
}
.llll img:nth-child(2){
	background:red;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:550%;
	border-radius:20%;
	box-shadow:0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red;
	animation:gallery6 15s linear infinite;
}
.llll img:nth-child(3){

	background:red;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:660%;
	border-radius:20%;
	box-shadow:0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red;
	animation:gallery7 15s linear infinite;
}
.llll img:nth-child(4){

	background:red;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:440%;
	border-radius:20%;
	box-shadow:0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red,0 0 40px red;
	animation:gallery8 15s linear infinite;
}

.llli img:nth-child(1){
	background:green;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:relative;
	top:10%;
	left:8%;
	border-radius:20%;
	box-shadow:0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green;
	animation:gallery1 15s linear infinite;
}
@keyframes gallery1{
	0%{
		left:8%;
	}
	100%{
		left:-770%;
	}
}@keyframes gallery2{
	0%{
		left:110%;
	}
	100%{
		left:-660%;
	}
}@keyframes gallery3{
	0%{
		left:220%;
	}
	100%{
		left:-550%;
	}
}@keyframes gallery4{
	0%{
		left:330%;
	}
	100%{
		left:-440%;
	}
}@keyframes gallery5{
	0%{
		left:440%;
	}
	100%{
		left:-330%;
	}
}@keyframes gallery6{
	0%{
		left:550%;
	}
	100%{
		left:-220%;
	}
}@keyframes gallery7{
	0%{
		left:660%;
	}
	100%{
		left:-110%;
	}
}@keyframes gallery8{
	0%{
		left:770%;
	}
	100%{
		left:7%;
	}
}

.llli img:nth-child(2){
	background:green;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:110%;
	border-radius:20%;
	box-shadow:0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green;
	animation:gallery2 15s linear infinite;
}
.llli img:nth-child(3){
	background:green;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:220%;
	border-radius:20%;
	box-shadow:0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green;
	animation:gallery3 15s linear infinite;
}
.llli img:nth-child(4){
	background:green;
	height:300px;
	width:400px;
	display:inline;
	z-index:1;
	position:absolute;
	top:10%;left:330%;
	border-radius:20%;
	box-shadow:0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green,0 0 40px green;
	animation:gallery4 15s linear infinite;
}

#mmmm{
	text-align:center;
	font-size:70px;
	margin-top:175px;
	background-color:#6b2e10;
	color:black;
	padding:50px;
	width:100%;
	transition:1s;
	text-shadow:2px 2px white;
	box-shadow:	0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 10px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10,
					0 0 20px #6b2e10;
					animation:centering 5s linear infinite;
	
}
#mmmm:hover{
	color:red;
	background-color:white;
	box-shadow:	0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 10px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white,
					0 0 20px white;
}

.nnnn{
	font-size:30px;
	padding:10px;
	border-radius:50%;
	transition:1s;
	opacity:0.5;
	margin-left:140px;
	border:4px solid white;
}

.nnnn:hover{
	opacity:1;
	background-color:blue;
	border:4px solid blue;
}

.nnna{
	font-size:30px;
	padding:10px;
	border:4px solid white;
	border-radius:50%;
	transition:1s;
	opacity:0.5;
	margin-left:10px;
}

.nnna:hover{
	opacity:1.0;
	border:4px solid red;
}

#insta:hover{
	opacity:1;
	color:hotpink;
	border:2px solid hotpink;
}
#insta{
	padding:10px;
	border:2px solid white;
	border-radius:10px;
	left:30%;
	text-align:center;
	font-size:30px;
	transition:1s;
	position:absolute;
	opacity:0.5;
}

.nnnb:hover{
	opacity:1.0
}

.nnnc{
	font-size:40px;
	background-color:red;
	padding:15px;
	border-radius:50%;
	transition:1s;
	position:absolute;
	top:3690px;
	left:750px;
	opacity:0.5;
}

.nnnc:hover{
	opacity:1.0
}
#MeBox{
	position:relative;
	display:flex;
	justify-content:center;
	top:0%;
	left:0%;
}
.oooo{
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	top:10px;
	left:0;
	border-radius:5%;
	height:500px;
	width:400px;
	font-size:30px;
	font-weight:900;
	color:red;
}
.oooo a:nth-child(1){
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:10px;
	height:40px;
	width:40px;
}
.oooo a:nth-child(2){
	height:40px;
	width:120px;
}

.oooa{
	font-size:30px;
	font-weight:900;
	color:red;
	margin-left:150px;
}
#CBox{
	display:flex;
	position:relative;
	justify-content:center;
	width:100%;
	height:580px;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
#pppp{
	margin-right:10px;
	margin-top:120px;
	width:1200px;
	height:420px;
	background-color:#3c3f42;
	border-radius:10px 0 0 10px ;
	box-shadow:0 0 4px white,0 0 4px white,0 0 4px white,0 0 4px white,0 0 4px white,0 0 4px white,0 0 4px white;
}

#pppa{
	position:relative;
	top:120px;
	left:0%;
	padding:;
	width:1200px;
	height:420px;
	background-color:white;
	border-radius:0 10px 10px 0;
	box-shadow:0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red;
}
#pppb{
	font-size:40px;
	padding:20px;
	color:white;
	margin-left:100px;
}
#pppc{
	position:relative;
	left:50px;
	font-size:40px;
	padding:20px;
	margin-left:100px;
}
#ppap{
	border:4px solid red;
	border-radius:8px;
	color:red;
	
}
#ppbp{
	font-size:30px;
	color:red;
	margin-left:120px;
}

#qqqq{
	color:white;
}

#y{
	color:white;
}

#t{
	color:red;
}

#name{
	display:block;
	position:relative;
	top:40px;
	left:20px;
	font-size:30px;
	color:red;
	float:left;
}

#textbox
{
	position:relative;
	margin:10px;
	top:43px;
	left:95px;
	padding:8px;
	color:red;
	background-color:black;
	border:2px solid red;
}
#textbox1
{
	position:relative;
	margin:10px;
	top:43px;
	left:200px;
	padding:8px;
	color:red;
	background-color:black;
	border:2px solid red;
}
#textbox2
{
	position:relative;
	margin:10px;
	top:43px;
	left:200px;
	padding:8px;
	color:red;
	background-color:black;
	border:2px solid red;
}

#form1{
	top:0%;
	left:0%;
	position:relative;
	display:block;
}
#email{
	position:absolute;
	top:100px;
	left:20px;
	padding:0px;
	font-size:30px;
	color:red;
}

#phone{
	position:absolute;
	font-size:30px;
	color:red;
   top:160px;
	left:20px;
}

#submit{
	position:absolute;
	top:220px;
	left:220px;
	font-size:30px;
	color:red;
    margin-top:40px;
	text-align:center;
	background-color:black;
	cursor:pointer;
}

#feedback{
	background-color:white;
	padding:10px;
	clear:both;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:50px;
	text-align:center;
	height:70px;
	padding-top:50px;
	box-shadow:0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red,0 0 4px red;
	border-radius:5px;
}
#feedback a{
	color:black;
	font-size:30px;
	margin:10px;	
	
}
#feedback1{
	color:red;
	border:4px solid red;
	border-radius:8px;
	padding:3px;
}
#feedback a:hover{
	text-decoration:underline;
}

#footer{
	font-size:20px;
	text-align:center;
	padding:5px;
	background-color:black;
	color:white;
	float:left;
	width:100%;
}